
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #48cae4;
    font-family: montserrat;
    font-size: large;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

li {
    display:inline-block;
    margin: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

